@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

@layer base {
  :root {
    --background: 209 98.35% 98.4%;
    --foreground: 209 6.7% 0.8%;
    --muted: 209 6.7% 92%;
    --muted-foreground: 209 3.35% 42%;
    --popover: 209 36.4% 92%;
    --popover-foreground: 209 6.7% 1%;
    --card: 209 36.4% 92%;
    --card-foreground: 209 6.7% 1%;
    --border: 209 11.7% 89.8%;
    --input: 209 11.7% 89.8%;
    --primary: 209 67% 20%;
    --primary-foreground: 209 1.34% 92%;
    --secondary: 209 3.35% 96%;
    --secondary-foreground: 209 5% 12%;
    --accent: 209 3.35% 96%;
    --accent-foreground: 209 5% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-focus: 0 84.2% 85%;
    --destructive-foreground: 0 0% 98%;
    --ring: 209 67% 20%;
    --radius: 0.5rem;

    --execution-condition: 262 47% 55%;
    --execution-condition-foreground: 264 45% 94%;
    --execution-step: 174 63% 40%;
    --execution-step-foreground: 177 41% 91%;
  }
  .dark {
    --background: 212 52% 5.52%;
    --foreground: 212 8% 98.45%;
    --card: 212 49% 9%;
    --card-foreground: 212 8% 98.45%;
    --popover: 212 49% 9%;
    --popover-foreground: 212 8% 98.45%;
    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 7%;
    --secondary: 212 40% 20.7%;
    --secondary-foreground: 212 8% 98.45%;
    --muted: 212 40% 20.7%;
    --muted-foreground: 212 8% 56.9%;
    --accent: 212 40% 20.7%;
    --accent-foreground: 212 8% 98.45%;
    --destructive: 1 83% 63%;
    --destructive-focus: 0 73% 77%;
    --destructive-foreground: 351 100% 96%;
    --warning: 36 100% 50%;
    --warning-foreground: 37 100% 94%;
    --border: 212 40% 20.7%;
    --input: 212 40% 20.7%;
    --ring: 212 80% 69%;

    --execution-condition: 262 47% 55%;
    --execution-condition-foreground: 264 45% 94%;
    --execution-step: 174 63% 40%;
    --execution-step-foreground: 177 41% 91%;
  }
}

@layer base {
  * {
    @apply border-border outline-none;
  }
  body {
    @apply text-foreground;
  }
  #root {
    @apply bg-background rounded-2xl border overflow-hidden w-screen h-screen;
  }
  .maximized #root {
    @apply rounded-none border-none;
  }
  :not(.maximized) > body > div[role='dialog'] {
    @apply rounded-2xl;
  }
}
