.directory
.idea/
.vscode/
node_modules

# testing
coverage/

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

tsconfig.tsbuildinfo

dist/
release/
lib/
build/
user-panel-build/

# Sqlite3 databases
*.db
*.db-journal
erd.pdf