.spinner {
  position: relative;
  overflow: visible;
}

.spinner span,
button[data-loading='true']::before,
button[data-loading='true']::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid hsl(var(--foreground));
  background-color: hsl(var(--foreground) / 0.5);
  box-shadow: 0 0 5px hsl(var(--primary) / 0.5);

  animation: spinner-pulse 2.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

button[data-loading='true']::before,
button[data-loading='true']::after {
  height: 61.8%;
}

.spinner span:nth-child(2),
button[data-loading='true']::after {
  animation-delay: -1.25s;
}

@keyframes spinner-pulse {
  0%,
  100% {
    transform: scale(0.381);
  }
  50% {
    transform: scale(1);
  }
}
